.project-container {
    background-image: url(https://images.unsplash.com/photo-1518655048521-f130df041f66?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8cG9ydGZvbGlvJTIwYmFja2dyb3VuZHxlbnwwfHwwfHx8MA%3D%3D&w=1000&q=80);
    background-position: center;
    background-size: cover;
    border-radius: 1rem;
    margin: 1rem;
    padding: 1rem;
}

.shopping-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.shopping{
    width: 45%;
}

.shopping-img img{
    margin-right: 9rem;
    height: 12rem;
}

.smooze-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.smooze{
    width: 45%;
}

.smooze-img img{
    margin-right: 9rem;
    height: 12rem;
}

.food-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.food{
    width: 45%;
}

.food-img img{
    margin-right: 9rem;
    height: 12rem;
}

.project-names li {
    font-size: 1.4rem;
    font-weight: bold;
    padding-top: 0.5rem;
}



/* Responsive Styles */
@media screen and (max-width: 768px) {
    .project-container {
       padding:0.5rem;
    }

    .shopping-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .shopping{
        width: 100%;
    }

    .smooze-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .smooze{
        width: 100%;
    }

    .food-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .food{
        width: 100%;
    }

    /* .project-names {
        width: 100%; /* Full width on smaller screens */
   /* } */

}
