.experience-container {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTPGp-zsVAImnLrCSjzH3tyEiqVxqmQJQno0RHJnBmY7VoFwqtsXywXjLr_WdZCwn158TM&usqp=CAU);
    background-size: cover;
    background-position: center;
    border-radius: 1rem;
    margin: 1rem;
    /* padding: 1rem; */
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
}

 .experience-list {
    padding-top: 1rem;
    /* text-align: left; */
    /* width: 80%;*/
}

.experience-list h3 {
    font-size: 2rem;
}

.experience-list ul {
    list-style-type: armenian;
    padding-top: 1rem;
}

.experience-list li {
    font-size: 1.3rem;
    padding-top: 0.5rem;
}

.experience-list p {
    font-weight: bold;
}

.experience-title {
    margin: 1.5rem;
}  

.decagon-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.decagon{
    width: 45%;
}

.decagon-img img{
    margin-right:9rem;
}

.bedc-container{
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.bedc{
    width: 45%;
}

.bedc-img img{
    margin-right:9rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
    .experience-container {
        padding:0.5rem;
    }

    .decagon-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    .decagon{
        width: 100%;
    }

    .bedc-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .bedc{
        width: 100%;
    }
}
